#!/bin/bash
cat << 'EOF' | while IFS= read -r line; do echo -e "$line"; done

{{ system_motd_status_header }}
  Timestamp: {{ ansible_date_time.iso8601 }}
  Version: {{ __system_project_version }}
{% for key, value in system_motd_status_data.items() %}
  {{ key }}: {{ value }}
{% endfor %}

EOF
