---
# Export environment variables for use by global or user shells
#

- name: Manage global environment vars
  become: true
  block:
    - name: Configure global shell environment variables (profile.d)
      when:
        - system_global_environment_vars is truthy
        - system_environment_set_profile
      ansible.builtin.template:
        src: "{{ role_path }}/templates/etc/bashrc.d/global_env.sh.j2"
        dest: /etc/profile.d/{{ system_environment_filename }}.sh
        owner: root
        group: root
        mode: "0755"
        validate: "/usr/bin/env bash -n %s"
      no_log: "{{ system_environment_no_log }}"

    - name: Configure global shell environment variables (bashrc.d)
      when:
        - system_global_environment_vars is truthy
        - system_environment_set_bashrc
      ansible.builtin.template:
        src: "{{ role_path }}/templates/etc/bashrc.d/global_env.sh.j2"
        dest: /etc/bashrc.d/{{ system_environment_filename }}.sh
        owner: root
        group: root
        mode: "0755"
        validate: "/usr/bin/env bash -n %s"
      no_log: "{{ system_environment_no_log }}"

    - name: Remove environment variable definition (profile.d)
      when:
        - system_environment_purge_empty
        - system_global_environment_vars is not truthy
        - system_environment_set_profile
      ansible.builtin.file:
        path: /etc/profile.d/{{ system_environment_filename }}.sh
        state: absent

    - name: Remove environment variable definition (bashrc.d)
      when:
        - system_environment_purge_empty
        - system_global_environment_vars is not truthy
        - system_environment_set_bashrc
      ansible.builtin.file:
        path: /etc/bashrc.d/{{ system_environment_filename }}.sh
        state: absent

- name: Manage user environment vars
  become: true
  vars:
    __system_environment_user_defined_vars: >-
      {{
        system_user_environment_vars
        | dict2items
        | selectattr('value', 'truthy')
        | list
      }}
    # User home path only valid when '__system_environment_user_vars' is defined in loop
    __system_environment_user_home: >-
      {{
        '/root'
        if __system_environment_user_vars.key == 'root'
        else
        '/home/' + __system_environment_user_vars.key
      }}
  block:
    - name: User .bashrc.d directory exists
      loop: "{{ __system_environment_user_defined_vars }}"
      loop_control:
        loop_var: __system_environment_user_vars
        label: "{{ __system_environment_user_vars.key }}"
      ansible.builtin.file:
        path: "{{ __system_environment_user_home }}/.bashrc.d"
        state: directory
        owner: "{{ __system_environment_user_vars.key }}"
        group: "{{ __system_environment_user_vars.key }}"
        mode: "0755"

    - name: Configure user shell environment variables
      when: system_user_environment_vars is truthy
      loop: "{{ __system_environment_user_defined_vars }}"
      loop_control:
        loop_var: __system_environment_user_vars
        label: "{{ __system_environment_user_vars.key }}"
      ansible.builtin.template:
        src: "{{ role_path }}/templates/home/user/.bashrc.d/user_env.sh.j2"
        dest: "{{ __system_environment_user_home }}/.bashrc.d/{{ system_environment_filename }}.sh"
        owner: "{{ __system_environment_user_vars.key }}"
        group: "{{ __system_environment_user_vars.key }}"
        mode: "0600"
        validate: "/usr/bin/env bash -n %s"
      no_log: "{{ system_environment_no_log }}"

    - name: Remove user environment variable definition
      when: system_environment_purge_empty
      loop: "{{ system_user_environment_vars | dict2items | selectattr('value', 'falsy') | list }}"
      ansible.builtin.file:
        path: "{{ __system_environment_user_home }}/.bashrc.d/{{ system_environment_filename }}.sh"
        state: absent
