
WARNING: This host is managed by Ansible! Manual changes may revert automagically!
         See https://github.com/influxdata/cloud1-awx/tree/GLaDOS for details.

Configuration Status
  Timestamp: {{ ansible_date_time.iso8601 }}
  Version: {{ __system_project_version }}

