[Install]
WantedBy=multi-user.target

[Unit]
Description=Mount the first EBS device to /influxdb
Before=docker.service
DefaultDependencies=no

[Mount]
What=/dev/{{ system_data_disk }}
Where={{ system_data_disk_mount_path }}
Type={{ system_data_disk_format }}

